In [96]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler as mms
from sklearn.metrics import mean_squared_error,confusion_matrix
from sklearn.ensemble import AdaBoostClassifier
from sklearn.datasets import make_classification
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from scipy.stats import chisquare
from sklearn.ensemble import RandomForestClassifier
#from sklearn.feature_selection._from_model import SelectFromModel

In [11]:
data=pd.read_csv(r"C:\Users\sudarson.SUDARSON\Downloads\test mach learn\Paper1\bank.csv",sep=";")
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [12]:
data.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [13]:
col = list(data.columns)
col

['age',
 'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed',
 'y']

In [14]:
for i in range(0,len(col)):
    if(data[data[col[i]]==np.NaN].shape[0]!=0):
        print(col[i],data[data[col[i]]==np.Nan].shape[0])

<h1>Missing values<h1>

In [18]:
for i in range(0,len(col)):
    if(data[data[col[i]]=='unknown'].shape[0]!=0):
        print(col[i],data[data[col[i]]=='unknown'].shape[0])

job 330
marital 80
education 1731
default 8597
housing 990
loan 990

In [19]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

<h1>Label Encoding</h1>

In [20]:
for i in range(0,len(col)):
    if(col[i]!='age' and col[i]!='duration' and col[i]!='campaign' and col[i]!='pdays' and col[i]!='previous' and col[i]!='emp.var.rate' and col[i]!='cons.price.idx' and col[i]!='cons.conf.idx' and col[i]!='euribor3m' and col[i]!='nr.employed'):
        le = LabelEncoder().fit(data[col[i]])
        le1 = le.transform(data[col[i]])
        le1 = pd.DataFrame(le1)
        data[col[i]]=le1

In [21]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,1,3,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,0,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,5,1,5,0,2,0,0,7,0,...,1,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,1
41184,46,1,1,5,0,0,0,0,7,0,...,1,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,0
41185,56,5,1,6,0,2,0,0,7,0,...,2,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,0
41186,44,9,1,5,0,0,0,0,7,0,...,1,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,1
41187,74,5,1,5,0,2,0,0,7,0,...,3,999,1,0,-1.1,94.767,-50.8,1.028,4963.6,0

In [28]:
x=data.iloc[0:,0:20]
y=data.y

<h1>The primary analysis of several categorical features reveal</h1>

In [64]:
for i in range(0,len(col)):
    if(col[i]!='age' and col[i]!='duration' and col[i]!='campaign' and col[i]!='pdays' and col[i]!='previous' and col[i]!='emp.var.rate' and col[i]!='cons.price.idx' and col[i]!='cons.conf.idx' and col[i]!='euribor3m' and col[i]!='nr.employed'):
        print(chisquare(data[col[i]]))

Power_divergenceResult(statistic=142880.97955778055, pvalue=0.0)
Power_divergenceResult(statistic=13020.961907916531, pvalue=1.0)
Power_divergenceResult(statistic=50171.1261249587, pvalue=9.11133574587219e-189)
Power_divergenceResult(statistic=32613.725793327914, pvalue=1.0)
Power_divergenceResult(statistic=37310.25118934348, pvalue=1.0)
Power_divergenceResult(statistic=65866.41109298533, pvalue=0.0)
Power_divergenceResult(statistic=26144.0, pvalue=1.0)
Power_divergenceResult(statistic=52398.1516174015, pvalue=5.107061321853665e-284)
Power_divergenceResult(statistic=40130.999733546494, pvalue=0.9998959306166811)
Power_divergenceResult(statistic=5831.367537654338, pvalue=1.0)
Power_divergenceResult(statistic=36548.0, pvalue=1.0)

In [70]:
trainx,testx,trainy,testy=train_test_split(x,y,test_size=0.33,random_state=1)

In [71]:
logreg=LogisticRegression(random_state=0).fit(trainx,trainy)

C:\Users\sudarson.SUDARSON\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

In [72]:
logreg1=logreg.predict(testx)

In [73]:
prob=logreg.predict_proba(testx)
prob

array([[0.95366087, 0.04633913],
       [0.99358128, 0.00641872],
       [0.89251825, 0.10748175],
       ...,
       [0.37286409, 0.62713591],
       [0.90301101, 0.09698899],
       [0.74716936, 0.25283064]])

In [74]:
df=pd.DataFrame(prob)

In [75]:
logreg.score(testx,testy)

0.9074523651879643

In [76]:
adab= AdaBoostClassifier(n_estimators=100, random_state=0)
adab.fit(trainx,trainy)

AdaBoostClassifier(n_estimators=100, random_state=0)

In [77]:
adab1=adab.predict(testx)

In [78]:
adab.score(testx,testy)

0.9092915471198411

In [79]:
gnb = GaussianNB()
gnb.fit(trainx, trainy)

GaussianNB()

In [80]:
gnb1=gnb.predict(testx)

In [81]:
gnb.score(testx,testy)

0.8496284852497609

In [82]:
neigh = KNeighborsClassifier(n_neighbors=15).fit(trainx,trainy)

In [83]:
neigh1=neigh.predict(testx)

In [84]:
neigh.score(testx,testy)

0.9084823070698154

In [85]:
svc = SVC(gamma='auto').fit(trainx, trainy.ravel())

In [86]:
svc1 = svc.predict(testx)

In [87]:
svc.score(testx,testy)

0.8866328257191202

In [88]:
print(mean_squared_error(logreg1,testy))
print(mean_squared_error(adab1,testy))
print(mean_squared_error(neigh1,testy))
print(mean_squared_error(gnb1,testy))
print(mean_squared_error(svc1,testy))

0.09254763481203561
0.0907084528801589
0.09151769293018465
0.1503715147502391
0.11336717428087986

In [90]:
#from imblearn.over_sampling import SMOTE
#sm = SMOTE(random_state = 2)